<!-- <app-user-detail [user]="selectedUser"></app-user-detail> -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <!--  Here, the condition i.e. atype === selectedType will be evaluated first, 
            if it results in true, then the selected css class will be applied to the 
            element in discussion i.e. <li> -->
        <tr *ngFor="let user of users" [class.selected]="user === selectedUser"
            (click)="onSelect(user)">
            <th scope="row">{{user.id_num}}</th>
            <td>{{ user.email}}</td>
            <td>{{ user.admin}}</td>
            <td>
                <a class="btn btn-success">View</a>
                <a class="btn btn-danger" (click)="delete(user)">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>