{% extends 'principal/main.html' %}

{% from '/macros/utilities.html' import listUsers %}

{% block head %}

{{ super() }}

<title>Users · Seismology Institute</title>

{% endblock %}

{% block content %}

<!-- BREADCRUM -->
<div class="container-fluid my-3 px-5">
    <div class="row">
        <div class="col-lg-auto col-sm-auto col-md-auto">
            <nav aria-label="breadcrumb mr-n5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('main.admin_index')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Users</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <!-- TITLE -->
            <h3>Users</h3>
            <!-- BUTTONS -->
            <div class="form-inline py-2 pr-3">
                <a class="btn btn-success" href="{{url_for('user.add_user')}}" role="button">New user</a>
            </div>
            <table class="table table-responsive-md table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Administrator</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ listUsers(users) }}
                </tbody>
            </table>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>

{% endblock %}