{% extends 'principal/seismologist.html' %} {% block head %} {{ super() }}

<title>Unverified seism no.{# id_num #} · Seismology Institute</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
    crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

{% endblock %}


{% block content %}

<div class="container-fluid my-3 px-5">
    <div class="row">
        <div class="col-lg-auto col-sm-auto col-md-auto">
            <nav aria-label="breadcrumb mr-n5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('seismologist.main_useisms')}}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('seismologist.main_useisms')}}">Unverified seisms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        1
                        {# id_num #}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-sm-12">
            <!-- TITLE -->
            <h3 class="py-2">Editing unverified seism</h3>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-sm-12 col-lg-8">
            <div class="container py-2 justify-content-center">

                <h5 class="py-3">Complete the following form</h5>
                <form>
                    <div class="form-row my-3">
                        <div class="col-lg-6 col-sm-12">
                            <label class="" for="datetime">Datetime</label>
                            <div class="input-group date" id="datetime" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetime"
                                    data-toggle="datetimepicker" />
                                <div class="input-group-append" data-target="#datetime" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $("#datetime").datetimepicker();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label class="" for="depth">Depth (in meters)</label>
                            <input type="text" id="depth" name="depth" class="form-control" value="{# depth #}">
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label class="" for="mag">Magnitude</label>
                            <input type="text" id="mag" name="magnitude" class="form-control" value="{# magnitude #}">
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-lg-6 col-sm-12">
                            <label class="" for="lat">Latitude</label>
                            <input type="text" id="lat" name="latitude" class="form-control" value="{# depth #}">
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label class="" for="long">Longitude</label>
                            <input type="text" id="long" name="longitude" class="form-control" value="{# magnitude #}">
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-lg-6 col-sm-12 ">
                            <label class="" for="inlineFormCustomSelect">Associated sensor</label>
                            <select class="custom-select" id="inlineFormCustomSelect">
                              <option selected>Choose...</option>
                              <option value="1">{# sensors #}</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <legend class="col-form-label">Verified</legend>
                            <div class="container">
                                <div class="form-check ml-2">
                                    <input class="form-check-input" type="radio" name="admin" id="verified1"
                                        value="true">
                                    <label class="form-check-label" for="verified1">
                                        True
                                    </label>
                                </div>
                                <div class="form-check ml-2">
                                    <input class="form-check-input" type="radio" name="admin" id="verified2"
                                        value="false" checked>
                                    <label class="form-check-label" for="verified2">
                                        False
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-inline justify-content-center">
                        <button type="submit" class="btn btn-success">
                            Save</button>
                        <a name="" id="" class="btn btn-danger mx-5 my-5" href="#" role="button">
                            Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock%}