body {
    font-family: 'Montserrat', sans-serif !important;
}

.lheading {
    text-decoration: black !important; 
    font-weight: bold !important;
    width: max-content;
}

.lsubheading {
    margin-left: 10px;
    width: max-content;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

