{% import '/principal/global-forms.html' as m %}
{% import '/principal/dynamic-tables.html' as d %}

{% macro generateNewUserForm(form) %}
{{ form.csrf_token }}
{{ m.showEmailField(form.email) }}
{{ m.showPasswordField(form.password) }}
{{ m.showPasswordField(form.re_password) }}
{{ m.showRadioField(form.admin) }}
{{ m.showButtons(form.submit_button, 'user.main_users') }}
{% endmacro %}

{% macro generateEditUserForm(form, id_num) %}
{{ form.csrf_token }}
{{ m.showEmailField(form.email) }}
{{ m.showRadioField(form.admin) }}
{{ m.showButtons(form.submit_button, 'user.main_users') }}
{% endmacro %}



{% macro generateNewSensorForm(form) %}
{{ form.csrf_token }}
{{ m.showStringField(form.name) }}
{{ m.showStringField(form.ip) }}
{{ m.showIntegerField(form.port) }}
{{ m.showRadioField(form.status) }}
{{ m.showRadioField(form.active) }}
{{ m.showSelectField(form.user_id) }}
{{ m.showButtons(form.submit_button, 'user.main_sensors') }}
{% endmacro %}


{% macro editUSeismMap(form, seism) %}
{{ form.csrf_token }}
{{ m.showStaticData("Date and time", seism.datetime) }}
{{ m.showIntegerField(form.depth) }}
{{ m.showFloatField(form.magnitude) }}
{{ m.showStaticData("Latitude", seism.latitude) }}
{{ m.showStaticData("Longitude", seism.longitude) }}
{{ m.showStaticData("Verified", seism.verified) }}
{{ m.showStaticData("Associated sensor", seism.sensor.name) }}
{{ m.showButtons(form.submit_button, "user.main_useisms") }}
{% endmacro %}



{% macro USeismsFiltersForm(filters) %}
<form method="GET" action="{{ url_for('user.main_useisms') }}">
	<div class="card">
		<div class="card-header"><strong>Filters, sorting and pagination</strong></div>
		<div class="card-body">
			<h6 class="card-title ml-n2">Filters</h6>
			<div class="card my-2">
				<div class="container-fluid pl-3 pt-3 mb-n2">

					<div class="form-group row">
						<div class="col-sm-3 col-lg-2 pt-0 col-form-label">
							<label for="fstrfield">{{ filters.sensor_id.label }}</label>
						</div>
						<div class="col-sm-9 col-lg-10">
							{{ filters.sensor_id(class="form-control")|safe }}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3 col-lg-2 pt-0 col-form-label">
							<label for="fstrfield">{{ filters.from_datetime.label }}</label>
						</div>
						<div class="col-sm-9 col-lg-10">
							{{ filters.from_datetime(class="form-control")|safe }}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3 col-lg-2 pt-0 col-form-label">
							<label for="fstrfield">{{ filters.to_datetime.label }}</label>
						</div>
						<div class="col-sm-9 col-lg-10">
							{{ filters.to_datetime(class="form-control")|safe }}
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			{{ d.showFButtons(filters.submit_button, "user.main_useisms") }}
		</div>
	</div>
</form>
{% endmacro %}