<p>detailed-view works!</p>
<!-- Verifica que exista la variable -->
<div class="card" *ngIf="sensor">
  <div class="card-body">
    <h5 class="card-title">Sensor ID number {{sensor.id_num}}</h5>
    <p class="card-text"><b>Name: {{sensor.name}}</b></p>
    <p class="card-text"><b>Status: {{sensor.status}}</b></p>
    <p class="card-text"><b>Active: {{sensor.active}}</b></p>
    <p class="card-text"><b>IP: {{sensor.ip}}</b></p>
    <p class="card-text"><b>Port: {{sensor.port}}</b></p>
    <p class="card-text"><b>User associated: {{sensor.user.email}}</b></p>
  </div>
</div>