{% from '/macros/global-forms.html' import showEmailField, showPasswordField, showRadioField, showButtons, showStringField, showIntegerField, showSelectField %}


{% macro generateNewUserForm(form) %}
	{{ form.csrf_token }}
	{{ showEmailField(form.email) }}
	{{ showPasswordField(form.password) }}
	{{ showPasswordField(form.re_password) }}
	{{ showRadioField(form.admin) }}
	{{ showButtons(form.submit_button, 'admin.main_users') }}
{% endmacro %}

{% macro generateEditUserForm(form, id_num) %}
	{{ form.csrf_token }}
	{{ showEmailField(form.email) }}
	{{ showRadioField(form.admin) }}
	{{ showButtons(form.submit_button, 'admin.main_users') }}
{% endmacro %}



{% macro generateNewSensorForm(form) %}
	{{ form.csrf_token }}
	{{ showStringField(form.name) }}
	{{ showStringField(form.ip) }}
	{{ showIntegerField(form.port) }}
	{{ showRadioField(form.status) }}
	{{ showRadioField(form.active) }}
	{{ showSelectField(form.user_id) }}
	{{ showButtons(form.submit_button, 'admin.main_sensors') }}
{% endmacro %}