{% extends 'principal/admin.html' %}

{% from '/macros/admin/general.html' import listSensors %}

{% block head %} {{ super() }}

<title>Sensors · Seismology Institute</title>

{% endblock %}


{% block content %}

<!-- BREADCRUM -->
<div class="container-fluid my-3 px-5">
    <div class="row">
        <div class="col-lg-auto col-sm-auto col-md-auto">
            <nav aria-label="breadcrumb mr-n5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('admin.index')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Sensors
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- FILTERS BUTTON -->
    <div class="row">
        <div class="col-md-12 col-lg-3">
            <div class="container-fluid py-2">
                <button class="btn btn-primary " type="button" data-toggle="collapse" data-target=".multi-collapse"
                    aria-expanded="false" aria-controls="status active associated">
                    Filters
                </button>

                <!-- FILTERS -->
                <div class="col-12">
                    <div class="collapse multi-collapse pt-3" id="status">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Status</h5>
                                <div class="form-group">
                                    <select class="form-control" id="formselect1">
                                        <option>Working</option>
                                        <option>Not-working</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="collapse multi-collapse pt-3" id="active">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Active</h5>
                                <div class="form-group">
                                    <select class="form-control" id="formselect2">
                                        <option>True</option>
                                        <option>False</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="collapse multi-collapse pt-3" id="associated">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Associated seismologist</h5>
                                <div class="form-group">
                                    <select class="form-control" id="formselect3">
                                        <option>{# tremendo for va acá #}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CLEAR FILTERS BUTTON -->
                <div class="collapse multi-collapse pt-3" id="multiCollapseExample2">
                    <button type="button" class="btn btn-danger" disabled>
                        Clear all filters
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-8">
            <div class="container py-2">

                <!-- TITLE -->
                <h3>Sensors</h3>

                <div class="container-fluid">
                    <!-- TABLE SORTING -->
                    <div class="row form-inline pt-2 pb-2 pr-5">
                        <label class="form-text my-1 mr-2" for="sorting">Sort by:</label>
                        <select class="form-control" id="sorting">
                            <option selected>None</option>
                            <option>Name (A-Z)</option>
                            <option>Name (Z-A)</option>
                            <option>Status (working - not working)</option>
                            <option>Status (not working - working)</option>
                            <option>Active (true - false)</option>
                            <option>Active (false - true)</option>
                            <option>Associated seismologist (A-Z)</option>
                            <option>Associated seismologist (Z-A)</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="form-inline py-2 pr-3">                            
                            <a class="btn btn-success" href="{{url_for('admin.add_sensor')}}" role="button">New sensor</a>
                        </div>

                        <div class="form-inline pt-2 pr-3 pb-2">
                            <button type="button" class="btn btn-primary px-n5">
                                Not-working & active sensors to admins
                            </button>
                        </div>
                    </div>


                    <!-- TABLE -->
                    <table class="table table-responsive-md table-hover mt-3">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Status</th>
                                <th scope="col" class="text-center">Active</th>
                                <th scope="col" class="text-center">Associated seismologist</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ listSensors(sensors) }}
                        </tbody>
                    </table>

                    <!-- PAGINATION -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-1">
        </div>
    </div>
</div>
{% endblock %}