<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/body.css')}}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet" />
  {% endblock %}
</head>

<body>
  {% block header %}
  <!-- HEADER -->
  <header class="navbar navbar-light" style="background-color: #dea364">
    <!-- Logo -->
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href=" "><img src="{{url_for('static', filename='svg/vertical-logo.svg')}}" class=""
          height="50" /></a>
    </div>

    <!-- Link buttons & Logged admin mail -->
    <div class="navbar-expand-md navbar-collapse">
      <!-- Collapsible button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible menu -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <!--Links-->
        <ul class="navbar-nav mr-auto">
          <!-- To verified seisms -->
          <li class="nav-item mr-3">
            <a class="nav-link" href="{{url_for('v_seism.main')}}">Verified seisms</a>
          </li>

          {% if current_user.is_authenticated %} {% if not current_user.admin
            %}
          <!-- To verified seisms -->
          <li class="nav-item mr-3">
            <a class="nav-link" href="{{url_for('u_seism.main')}}">Unverified seisms</a>
          </li>
          {% endif %} {% if current_user.admin %}
          <!-- To sensors -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sensors
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('sensors.add_sensor')}}">New sensor</a>
              <a class="dropdown-item" href="{{url_for('sensors.main')}}">View all</a>
            </div>
          </li>

          <!-- To users -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('user.add_user')}}">New user</a>
              <a class="dropdown-item" href="{{url_for('user.main')}}">View all</a>
            </div>
          </li>
          {% endif %} {% endif %}
        </ul>

        {% if current_user.is_authenticated %}
        <!-- Admin profile -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ current_user.email }}
            </a>
            <div class="dropdown-menu expanded dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('auth.logout')}}">Log out</a>
            </div>
          </li>
        </ul>
        {% else %}
        <!-- User's profile -->
        <form class="form-inline">
          <div class="form-group">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link lheading px-5" href="{{url_for('auth.login')}}">Sign in</a>
              </li>
            </ul>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}

  <div class="toast fade show" style="position: absolute; top: 130px; right: 20px;">
    <div class="toast-header">
      <strong class="mr-auto">Seismology Institute</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body text-{{ category }}">{{ message }}</div>
  </div>

  {% endfor %}
  {% endif %}
  {% endwith %}

  {% endblock %}


  {% block content %}
  {% endblock %}

  {% block footer%}

  <footer>
    <div class="d-flex flex-column mt-5 pt-5">
      <nav class="navbar navbar-light" style="background-color: #ffca85;">
        <div class="container-fluid justify-content-center">
          <div class="row">
            {% if current_user.is_authenticated %}
            {% if current_user.admin %}
            <div class="row">
              <!-- To verified seisms -->
              <div class="col-sm-4">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link lheading pr-5" href="{{url_for('v_seism.main')}}">Verified seisms</a>
                  </li>
                </ul>
              </div>
              <!-- To sensors -->
              <div class="col-sm-4">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link lheading pr-5" href="{{url_for('sensors.main')}}">Sensors</a>
                    <a class="nav-link lsubheading pr-5" href="{{url_for('sensors.add_sensor')}}">Add sensor</a>
                  </li>
                </ul>
              </div>
              <!-- To users -->
              <div class="col-sm-4">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link lheading pr-5" href="{{url_for('user.main')}}">Users</a>
                    <a class="nav-link lsubheading pr-5" href="{{url_for('user.add_user')}}">Add user</a>
                  </li>
                </ul>
              </div>
            </div>
            {% else %}
            <div class="row">
              <!-- To verified seisms -->
              <div class="col-sm-6">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link lheading pr-5" href="{{url_for('v_seism.main')}}">Verified seisms</a>
                  </li>
                </ul>
              </div>
              <!-- To unverified seisms -->
              <div class="col-sm-6">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link lheading pr-5" href="{{url_for('u_seism.main')}}">Unverified seisms</a>
                  </li>
                </ul>
              </div>
            </div>
            {% endif %}
            {% else %}
            <div class="row">
              <!-- To verified seisms -->
              <div class="col-sm-3">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link lheading pr-5" href="{{url_for('v_seism.main')}}">Verified seisms</a>
                  </li>
                </ul>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
  </footer>

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <script>
    $('.toast').toast()
  </script>

  {% endblock %}
</body>

</html>