{% extends 'principal/main.html' %}

{% from '/macros/utilities.html' import listVSeisms, showVSeismsPagination %}
{% from '/macros/forms.html' import VSeismsFiltersForm %}

{% block head %}

{{ super() }}

<title>Verified Seisms · Seismology Institute</title>

{% endblock %}



{% block content %}

<div class="container-fluid my-3 px-5">
    {% if current_user.is_authenticated %}
    {% if current_user.admin %}
    <!-- BREADCRUM -->
    <div class="row">
        <div class="col-lg-auto col-sm-auto col-md-auto">
            <nav aria-label="breadcrumb mr-n5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('main.admin_index')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Verified seisms</li>
                </ol>
            </nav>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>

        <div class="col-md-12 col-lg-8">
            <div class="container py-2">
                <!-- TITLE -->
                <h3>Verified seisms</h3>
                {{ VSeismsFiltersForm(filters) }}
                <!-- DINAMIC TABLE -->
                {{ listVSeisms(verified_seisms) }}

                {% if verified_seisms|length > 0 %}
                    <!-- TABLE PAGINATION -->
                    {{ showVSeismsPagination(pagination) }}
                {% endif %}
            </div>
        </div>

        <div class="col-md-12 col-lg-2">
        </div>
    </div>

</div>
{% endblock %}