{% extends 'principal/main.html' %}

{% from '/macros/utilities.html' import listVSeisms %}
{% from '/macros/forms.html' import VSeismsFiltersForm %}

{% block head %}

{{ super() }}

<title>Verified Seisms · Seismology Institute</title>

{% endblock %}



{% block content %}

<div class="container-fluid my-3 px-5">
    {% if current_user.is_authenticated %}
    {% if current_user.admin %}
    <!-- BREADCRUM -->
    <div class="row">
        <div class="col-lg-auto col-sm-auto col-md-auto">
            <nav aria-label="breadcrumb mr-n5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('main.admin_index')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Verified seisms</li>
                </ol>
            </nav>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>

        <div class="col-md-12 col-lg-8">
            <div class="container py-2">
                <!-- TITLE -->
                <h3>Verified seisms</h3>
                <div class="row py-3">
                    <div class="container-fluid py-2">
                        {{ VSeismsFiltersForm(filters) }}
                    </div>
                </div>
                <!-- DINAMIC TABLE -->
                <table class="table table-responsive-md table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">Date and time
                                {% if request.args.sort_by == "datetime[asc]"  %}
                                <a href="{{ url_for('v_seism.main', sort_by = 'datetime[desc]',
                                                                        sensor_id = request.args.sensor_id,
                                                                        from_datetime =request.args.from_datetime,
                                                                        to_datetime = request.args.to_datetime,
                                                                        depth_min = request.args.depth_min,
                                                                        depth_max = request.args.depth_max,
                                                                        mag_min = request.args.mag_min,
                                                                        mag_max = request.args.mag_max,
                                                                        sensor_name = request.args.sensor_name) }}">

                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                    </svg>
                                </a>
                                {% else %}
                                <a href="{{ url_for('v_seism.main', sort_by = 'datetime[asc]',
                                                                        sensor_id = request.args.sensor_id,
                                                                        from_datetime =request.args.from_datetime,
                                                                        to_datetime = request.args.to_datetime,
                                                                        depth_min = request.args.depth_min,
                                                                        depth_max = request.args.depth_max,
                                                                        mag_min = request.args.mag_min,
                                                                        mag_max = request.args.mag_max,
                                                                        sensor_name = request.args.sensor_name) }}">

                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </a>
                                {% endif %}

                            </th>


                            <th scope="col" class="text-center">Depth
                                {% if request.args.sort_by == "depth[asc]"  %}
                                <a href="{{ url_for('v_seism.main', sort_by = 'depth[desc]',
                                                                        sensor_id = request.args.sensor_id,
                                                                        from_datetime =request.args.from_datetime,
                                                                        to_datetime = request.args.to_datetime,
                                                                        depth_min = request.args.depth_min,
                                                                        depth_max = request.args.depth_max,
                                                                        mag_min = request.args.mag_min,
                                                                        mag_max = request.args.mag_max,
                                                                        sensor_name = request.args.sensor_name) }}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                    </svg>
                                </a>
                                {% else %}
                                <a
                                    href="{{ url_for('v_seism.main', sort_by = 'depth[asc]',
                                                                            sensor_id = request.args.sensor_id,
                                                                            from_datetime =request.args.from_datetime,
                                                                            to_datetime = request.args.to_datetime,
                                                                            depth_min = request.args.depth_min,
                                                                            depth_max = request.args.depth_max,
                                                                            mag_min = request.args.mag_min,
                                                                            mag_max = request.args.mag_max,
                                                                            sensor_name = request.args.sensor_name) }}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </a>
                                {% endif %}
                            </th>
                            <th scope="col" class="text-center">Magnitude
                                {% if request.args.sort_by == "magnitude[asc]"  %}
                                <a href="{{ url_for('v_seism.main', sort_by = 'magnitude[desc]',
                                                                        sensor_id = request.args.sensor_id,
                                                                        from_datetime =request.args.from_datetime,
                                                                        to_datetime = request.args.to_datetime,
                                                                        depth_min = request.args.depth_min,
                                                                        depth_max = request.args.depth_max,
                                                                        mag_min = request.args.mag_min,
                                                                        mag_max = request.args.mag_max,
                                                                        sensor_name = request.args.sensor_name) }}">


                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                    </svg>
                                </a>
                                {% else %}
                                <a href="{{ url_for('v_seism.main', sort_by = 'magnitude[asc]',
                                                                        sensor_id = request.args.sensor_id,
                                                                        from_datetime =request.args.from_datetime,
                                                                        to_datetime = request.args.to_datetime,
                                                                        depth_min = request.args.depth_min,
                                                                        depth_max = request.args.depth_max,
                                                                        mag_min = request.args.mag_min,
                                                                        mag_max = request.args.mag_max,
                                                                        sensor_name = request.args.sensor_name) }}">

                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                    </svg>

                                </a>
                                {% endif %}
                            </th>


                            <th scope="col" class="text-center">Associated sensor
                                {% if request.args.sort_by == "sensor_name[asc]"  %}
                                <a href="{{ url_for('v_seism.main', sort_by = 'sensor_name[desc]',
                                                                        sensor_id = request.args.sensor_id,
                                                                        from_datetime =request.args.from_datetime,
                                                                        to_datetime = request.args.to_datetime,
                                                                        depth_min = request.args.depth_min,
                                                                        depth_max = request.args.depth_max,
                                                                        mag_min = request.args.mag_min,
                                                                        mag_max = request.args.mag_max,
                                                                        sensor_name = request.args.sensor_name) }}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                    </svg>
                                </a>
                                {% else %}
                                <a
                                    href="{{ url_for('v_seism.main', sort_by = 'sensor_name[asc]',
                                                                            sensor_id = request.args.sensor_id,
                                                                            from_datetime =request.args.from_datetime,
                                                                            to_datetime = request.args.to_datetime,
                                                                            depth_min = request.args.depth_min,
                                                                            depth_max = request.args.depth_max,
                                                                            mag_min = request.args.mag_min,
                                                                            mag_max = request.args.mag_max,
                                                                            sensor_name = request.args.sensor_name) }}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                </a>
                                {% endif %}
                            </th>


                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ listVSeisms(verified_seisms) }}
                    </tbody>

                </table>

                <!-- TABLE PAGINATION -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if pagination.page_num > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('v_seism.main', page_num = 1,
                                                                sort_by = request.args.sort_by,
                                                                sensor_id = request.args.sensor_id,
                                                                from_datetime =request.args.from_datetime,
                                                                to_datetime = request.args.to_datetime,
                                                                elem_per_page = request.args.elem_per_page) }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}


                        {% for n in range(1, pagination.total_pages + 1) %}
                        {% if n != pagination.page_num %}
                        {% if n < pagination.page_num + 3 and n > pagination.page_num - 3%}
                        <li class="page-item">
                            <a class="page-link"
                                href="{{ url_for('v_seism.main',
                                                                                    page_num = n,
                                                                                    sort_by = request.args.sort_by,
                                                                                    sensor_id = request.args.sensor_id,
                                                                                    from_datetime =request.args.from_datetime,
                                                                                    to_datetime = request.args.to_datetime,
                                                                                    elem_per_page = request.args.elem_per_page) }}">
                                {{n}}
                            </a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="">{{n}}<span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if pagination.page_num < pagination.total_pages %}
                        <li class="page-item">
                            <a class="page-link"
                                href="{{ url_for('v_seism.main',
                                                                        page_num = (pagination.total_pages),
                                                                        sort_by = request.args.sort_by,
                                                                        sensor_id = request.args.sensor_id,
                                                                        from_datetime = request.args.from_datetime,
                                                                        to_datetime = request.args.to_datetime,
                                                                        elem_per_page = request.args.elem_per_page) }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-12 col-lg-2">
        </div>
    </div>

</div>
{% endblock %}