{% extends 'principal/seismologist.html' %} 

{% from '/macros/seismologist/general.html' import listVSeisms %}

{% block head %} {{ super() }}

<title>Verified Seisms · Seismology Institute</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
    crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

{% endblock %}

{% block content %}

<!-- BREADCRUM -->
<div class="container-fluid my-3 px-5">
    <div class="row">
        <div class="col-lg-auto col-sm-auto col-md-auto">
            <nav aria-label="breadcrumb mr-n5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('seismologist.main_useisms')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Verified seisms
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- FILTERS BUTTON -->
    <div class="row">
        <div class="col-md-12 col-lg-3">
            <div class="container-fluid py-2">
                <button class="btn btn-primary " type="button" data-toggle="collapse" data-target=".multi-collapse"
                    aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">
                    Filters
                </button>
                <!-- BETWEEN DATES FILTER -->
                <div class="col-12 pt-2">
                    <div class="collapse multi-collapse pt-2" id="multiCollapseExample1">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Between dates</h5>
                                <div class="form-group">
                                    <label for="datetimepicker1">From</label>
                                    <div class="input-group date pb-3" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker1" data-toggle="datetimepicker" />
                                        <div class="input-group-append" data-target="#datetimepicker1"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $("#datetimepicker1").datetimepicker();
                                            });
                                        </script>
                                    </div>
                                    <label for="datetimepicker2">To</label>
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker2" data-toggle="datetimepicker" />
                                        <div class="input-group-append" data-target="#datetimepicker2"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $("#datetimepicker2").datetimepicker();
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DATE FILTER -->
                <div class="col-12">
                    <div class="collapse multi-collapse pt-3" id="multiCollapseExample2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Date</h5>
                                <div class="form-group">
                                    <div class="input-group date pb-3" id="datetimepicker3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#datetimepicker3" data-toggle="datetimepicker" />
                                        <div class="input-group-append" data-target="#datetimepicker3"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $("#datetimepicker3").datetimepicker();
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SENSOR NAME FILTER -->
                <div class="col-12">
                    <div class="collapse multi-collapse pt-3" id="multiCollapseExample2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Sensor name</h5>
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CLEAR FILTERS BUTTON -->
                <div class="collapse multi-collapse pt-3" id="multiCollapseExample2">
                    <button type="button" class="btn btn-danger" disabled>
                        Clear all filters
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-8">
            <div class="container py-2">


                <!-- TITLE -->
                <h3>Verified seisms</h3>


                <!-- TABLE SORTING -->
                <div class="form-inline py-3">
                    <label class="my-1 mr-3" for="sorting">Sort by:</label>
                    <select class="form-control" id="sorting">
                        <option selected>None</option>
                        <option>Older to newer</option>
                        <option>Newer to older</option>
                        <option>Associated sensor (A-Z)</option>
                        <option>Associated sensor (Z-A)</option>
                    </select>
                </div>


                <!-- TABLE -->
                <table class="table table-responsive-md table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">Date and time</th>
                            <th scope="col" class="text-center">Depth</th>
                            <th scope="col" class="text-center">Magnitude</th>
                            <th scope="col" class="text-center">Associated sensor</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ listVSeisms(verified_seisms) }}
                    </tbody>
                </table>

                <!-- PAGINATION -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- DOWNLOAD BUTTONS -->
                <button type="button" class="btn btn-success" disabled>
                    Download as .csv
                </button>
                <button type="button" class="btn btn-success" disabled>
                    Download as .zip
                </button>
            </div>
        </div>
        <div class="col-md-12 col-lg-1">
        </div>
    </div>
</div>
{% endblock %}