<!DOCTYPE html>
<html lang="en">

<head>
    <title>Verified Seisms</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../static/css/body.css" />

</head>

<body>

    <div class="container-fluid">

        <div class="row">

            <!--     HEADER     -->
            <div class="container-fluid order-1">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

                            <a class="navbar-brand" href="#">Seismology institute</a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Verified seisms</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sensors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Users</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">


        <!--   BREADCRUMS    -->

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Main</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Verified seisms</li>
                    </ol>
            </div>


        </div>
        <h4>Verfied seisms</h4>
        <br>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">

                <!--    TABLE    -->

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Datetime</th>
                            <th scope="col">Depth</th>
                            <th scope="col">Magnitude</th>
                            <th scope="col">Associated sensor</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> 04/12/2020 20:30</td>
                            <td> 300 mts</td>
                            <td> 11.3</td>
                            <td> SM-347J</td>
                            <td>
                                <button type="button" name="" id="" class="btn btn-success" btn-lg btn-block ">View</button>
                                <button type="button " name=" " id=" " class="btn btn-primary " btn-lg btn-block ">Edit</button>
                                <button type="button" name="" id="" class="btn btn-danger" btn-lg btn-block ">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">2</th>
                            <td> 04/12/2020 20:30</td>
                            <td> 300 mts</td>
                            <td> 11.3</td>
                            <td> SM-347J</td>
                            <td>
                                <button type="button " name=" " id=" " class="btn btn-success " btn-lg btn-block ">View</button>
                                <button type="button " name=" " id=" " class="btn btn-primary " btn-lg btn-block ">Edit</button>
                                <button type="button " name=" " id=" " class="btn btn-danger " btn-lg btn-block ">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">3</th>
                            <td> 04/12/2020 20:30</td>
                            <td> 300 mts</td>
                            <td> 11.3</td>
                            <td> SM-347J</td>
                            <td>
                                <button type="button " name=" " id=" " class="btn btn-success " btn-lg btn-block ">View</button>
                                <button type="button " name=" " id=" " class="btn btn-primary " btn-lg btn-block ">Edit</button>
                                <button type="button " name=" " id=" " class="btn btn-danger " btn-lg btn-block ">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">4</th>
                            <td> 04/12/2020 20:30</td>
                            <td> 300 mts</td>
                            <td> 11.3</td>
                            <td> SM-347J</td>
                            <td>
                                <button type="button " name=" " id=" " class="btn btn-success " btn-lg btn-block ">View</button>
                                <button type="button " name=" " id=" " class="btn btn-primary " btn-lg btn-block ">Edit</button>
                                <button type="button " name=" " id=" " class="btn btn-danger " btn-lg btn-block ">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">5</th>
                            <td> 04/12/2020 20:30</td>
                            <td> 300 mts</td>
                            <td> 11.3</td>
                            <td> SM-347J</td>
                            <td>
                                <button type="button " name=" " id=" " class="btn btn-success " btn-lg btn-block ">View</button>
                                <button type="button " name=" " id=" " class="btn btn-primary " btn-lg btn-block ">Edit</button>
                                <button type="button " name=" " id=" " class="btn btn-danger " btn-lg btn-block ">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">6</th>
                            <td> 04/12/2020 20:30</td>
                            <td> 300 mts</td>
                            <td> 11.3</td>
                            <td> SM-347J</td>
                            <td>
                                <button type="button " name=" " id=" " class="btn btn-success " btn-lg btn-block ">View</button>
                                <button type="button " name=" " id=" " class="btn btn-primary " btn-lg btn-block ">Edit</button>
                                <button type="button " name=" " id=" " class="btn btn-danger " btn-lg btn-block ">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <!--    TABLE PAGINATION     -->

                <div class="d-flex justify-content-center ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination ">
                            <li class="page-item "><a class="page-link " href="# ">Previous</a></li>
                            <li class="page-item "><a class="page-link " href="# ">1</a></li>
                            <li class="page-item "><a class="page-link " href="# ">2</a></li>
                            <li class="page-item "><a class="page-link " href="# ">3</a></li>
                            <li class="page-item "><a class="page-link " href="# ">Next</a></li>
                        </ul>
                    </nav>
                </div>


            </div>

            <!--     FOOTER     -->

            <div class="container ">
                <nav class="navbar fixed-bottom navbar-dark bg-dark ">
                    <ul class="navbar-nav mr-aut ">
                        <li class="nav-item ">
                            <a class="nav-link " href="# ">Verified seisms</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="# ">Sensors</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="# ">Users</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>