
<app-sensor-view [sensor]="selectedSensor"></app-sensor-view>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Active</th>
            <th scope="col">User Associated</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <!--  Here, the condition i.e. atype === selectedType will be evaluated first, 
            if it results in true, then the selected css class will be applied to the 
            element in discussion i.e. <li> -->
        <tr *ngFor="let sensor of sensors" [class.selected]="sensor === selectedSensor"
            (click)="onSelect(sensor)">
            <th scope="row">{{ sensor.id_num }}</th>
            <td>{{ sensor.name }}</td>
            <td>{{ sensor.status }}</td>
            <td>{{ sensor.active }}</td>
            <td>{{ sensor.user.email }}</td>
            <td>
                <a class="btn btn-success" (click)="onSelect(sensor)">View</a>
                <a class="btn btn-danger" (click)="delete(sensor)">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>