{% from '/macros/global-forms.html' import showIntegerField, showFloatField, showStaticData, showButtons, showFSelectField, showFButtons, showFStringField %}


{% macro editUSeismMap(form, seism) %}
{{ form.csrf_token }}
{{ showStaticData("Date and time", seism.datetime) }}
{{ showIntegerField(form.depth) }}
{{ showFloatField(form.magnitude) }}
{{ showStaticData("Latitude", seism.latitude) }}
{{ showStaticData("Longitude", seism.longitude) }}
{{ showStaticData("Verified", seism.verified) }}
{{ showStaticData("Associated sensor", seism.sensor.name) }}
{{ showButtons(form.submit_button, "seismologist.main_useisms") }}
{% endmacro %}


{% macro organizeUSeism(form) %}
<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<div class="container">
					<h6 class="card-title ml-n2">Filters</h5>
					<div class="container pl-3">
						{{ showFStringField(form.sensor_id) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<div class="container">
					<h6 class="card-title ml-n2">Sorting</h5>
						<div class="container pl-3">
							{{ showFSelectField(form.sort_by) }}
						</div>
				</div>

			</div>
		</div>
	</div>
</div>
{{ showFButtons(form.submit_button, "seismologist.main_useisms") }}
{% endmacro %}