{% macro listVSeisms(v_seisms) %}

{% for i in v_seisms %}
<tr>
    <th scope="row" class="text-center">{{ i.id_num }}</th>
    <td class="text-center">{{ i.datetime }}</td>
    <td class="text-center">{{ i.depth }}</td>
    <td class="text-center">{{ i.magnitude }}</td>
    <td class="text-center">{{ i.sensor.name }}</td>
    <td class="text-center">
        <a class="btn btn-outline-dark" href="{{url_for('unlogged_usr.view_vseism', id=i.id_num )}}" role="button">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z" />
                <path fill-rule="evenodd"
                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
        </a>
    </td>
</tr>

{% endfor %}

{% endmacro %}


{% macro listVSeism(seism) %}

<tr>
    <th scope="row">Date and time</th>
    <td>{{ seism.datetime }}</td>
</tr>
<tr>
    <th scope="row">Depth</th>
    <td>{{ seism.depth }}</td>
</tr>
<tr>
    <th scope="row">Magnitude</th>
    <td>{{ seism.magnitude }}</td>
</tr>
<tr>
    <th scope="row">Associated sensor</th>
    <td>{{ seism.sensor.name }}</td>
</tr>
<tr>
    <th scope="row">Longitude</th>
    <td>{{ seism.longitude }}</td>
</tr>
<tr>
    <th scope="row">Latitude</th>
    <td>{{ seism.latitude }}</td>
</tr>

{% endmacro %}


{% macro showVSeismMap(seism) %}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen
        src="https://maps.google.com/maps?width=100%25&amp;height=100%25&amp;hl=en&amp;q={{ seism.latitude }},{{ seism.longitude }}&amp;t=k&amp;z=8&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </iframe>
</div>

{% endmacro %}