{% extends 'principal/main.html' %}

{% from '/macros/utilities.html' import listUSeisms %}
{% from '/macros/forms.html' import USeismsSearchForm %}

{% block head %}

{{ super() }}


<title>Unverified Seisms · Seismology Institute</title>

{% endblock %}

{% block content %}

<!-- BREADCRUM -->
<div class="container-fluid my-3 px-5">
    <div class="row">
        <div class="col-lg-auto col-sm-auto col-md-auto">
            <nav aria-label="breadcrumb mr-n5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('user.seismologist_index')}}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Unverified seisms</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>

        <div class="col-md-12 col-lg-8">
            <div class="container py-2">
                <!-- TITLE -->
                <h3>Unverified seisms</h3>
                <div class="row py-3">
                    <div class="container-fluid py-2">
                        <!-- FILTERS COLLAPSIBLE BUTTON -->
                        <button class="btn btn btn-outline-dark" type="button" data-toggle="collapse"
                            data-target=".multi-collapse" aria-expanded="false" aria-controls="associated">
                            Table layout
                        </button>

                        <div class="collapse multi-collapse pt-3" id="associated">
                            <div class="container-fluid py-2">
                                {{ USeismsSearchForm(dynamic_form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-2">Displaying {{ elem_per_page }} records in total {{ items_num }}</div>
                
                <!-- DINAMIC TABLE -->
                <table class="table table-responsive-md table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">Date and time</th>
                            <th scope="col" class="text-center">Depth</th>
                            <th scope="col" class="text-center">Magnitude</th>
                            <th scope="col" class="text-center">Associated sensor</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ listUSeisms(unverified_seisms) }}
                    </tbody>

                </table>

                <!-- TABLE PAGINATION -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="col-md-12 col-lg-2">
        </div>
    </div>
</div>
{% endblock %}